<%- include('../partials/header' ) %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Show Flights</title>
</head>


<section id="show-page">

  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Airline: <%= flight.airline %></th>
        <th>Airport: <%= flight.airline  %></th>
        <th>Flight Number: <%= flight.flightNo %></th>
        <th>Departs: <%=flight.departs %></th>
        <th> 
      </th>
      </tr>
    </thead>
    <tbody>
   
      
    <!-- <div>Now Showing: </div>
    <div> movie.nowShowing ? 'Yes' : 'Nope' %></div> -->
  </section>
<body>
  
</body>
  <br>
 <table class="table table-dark table-hover">
     <thead>
       <tr>
         <th>Tickets</th>
       </tr>
     </thead>
     <tbody>
       <% tickets.forEach(function(t) { %>
         <tr>
          <td> Seat: <%= t.seat %></td>
           <td> Price: $<%= t.price%></td>
       <% }); %>
    </tbody>
 </table>

<button><a href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a></button>

<br>

  <br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
    <select name="airport">
      <option value="ATL">Atlanta</option>
      <option value="DFW">Dallas Fort Worth</option>
      <option value="DEN">Denver</option>
      <option value="LAX">Los Angeles</option>
      <option value="SAN">San Diego</option>
      <option value="CLT">Charlotte</option>
      <option value="LGA">Laguardia</option>
    </select>
  </label><br>
  <label>Arrival:</label>
  <input type="datetime-local" name="arrival">

  <input type="submit" value="Add Destination">
</form>

<br><br>

<% if (flight.destinations.length) { %>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.sort((a, b) => a.arrival - b.arrival).forEach(function(dest) { %>
          <tr>
            
            <td><%= dest.airport %></td>
            <td><%= dest.arrival.toLocaleDateString() %></td>
           
          </tr>
        
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>
  <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Flight</button>